.sidebar {

    width: 260px;

    height: 100vh;

    position: fixed;

    left: 0;

    top: 0;

    background: #0f172a;

    color: white;

    padding: 25px 18px;

    overflow-y: auto;

    box-shadow: 4px 0 12px rgba(0,0,0,.2);

}

.sidebar-title {

    display: flex;

    align-items: center;

    gap: 10px;

    font-size: 20px;

    font-weight: bold;

    margin-bottom: 20px;

}

.sidebar-title i{

    font-size:24px;

    color:#38bdf8;

}

.sidebar hr{

    border-color:#334155;

    margin-bottom:20px;

}

.sidebar-link{

    display:flex;

    align-items:center;

    gap:12px;

    color:#cbd5e1;

    text-decoration:none;

    padding:12px;

    border-radius:10px;

    margin-bottom:8px;

    transition:.3s;

}

.sidebar-link:hover{

    background:#1e293b;

    color:white;

}

.sidebar-link.active{

    background:#2563eb;

    color:white;

}

.sidebar-link i{

    font-size:18px;

}