{% extends "base.html" %}


{% block content %}

<!-- MAIN -->

<div class="main" id="main">


<div class="top-section">


<h1>
Conference Participants
</h1>


</div>




<table>


<thead>

<tr>

<th>
ID
</th>


<th>Researcher Name</th>


<th>
Participation Type
</th>


<th>
Presentation Title
</th>


<th>
Presentation Mode
</th>

<th>
Registration Date
</th>


<th>
Status
</th>


</tr>


</thead>



<tbody>


{% if participants %}


{% for participant in participants %}


<tr>


<td>
{{ loop.index }}
</td>


<td>
{{ participant.researcher_name }}
</td>


<td>
{{ participant.participation_type }}
</td>


<td>

{% if participant.presentation_title %}

{{ participant.presentation_title }}

{% else %}

-

{% endif %}

</td>


<td>

{% if participant.presentation_mode %}

{{ participant.presentation_mode }}

{% else %}

-

{% endif %}

</td>
<td>
{{ participant.registration_date }}
</td>

<td>
{{ participant.status }}
</td>


</tr>


{% endfor %}



{% else %}


<tr>

<td colspan="6" class="empty">

No Participants Found

</td>

</tr>


{% endif %}


</tbody>


</table>


</div>


{% endblock %}
