{% extends "base.html" %}
{% block extra_css %}

<link rel="stylesheet"
href="{{ url_for('static', filename='css/form.css') }}">


{% endblock %}

{% block content %}


<!-- ================= MAIN ================= -->


<div class="main" id="main">


<div class="edit-container">


<h1>
Edit Conference
</h1>





<form method="POST"
action="{{ url_for('edit_conference', id=conference.id) }}">




<label>
Conference Title
</label>

<input
type="text"
name="title"
value="{{ conference.title }}"
required>





<label>
Organizer
</label>

<input
type="text"
value="{{ conference.organizer }}"
readonly>





<label>
Institution
</label>

<input
type="text"
value="{{ conference.institution }}"
readonly>





<label>
Event Type
</label>

<input
type="text"
value="{{ conference.event_type }}"
readonly>





<label>
Location
</label>

<input
type="text"
name="location"
value="{{ conference.location }}"
required>





<label>
Conference Date
</label>

<input
type="date"
name="conference_date"
value="{{ conference.conference_date }}"
required>





<label>
Website
</label>

<input
type="text"
name="website"
value="{{ conference.website }}">




<div class="modal-buttons">


<button type="submit"
class="save-btn">

Update

</button>




<a href="{{ url_for('conferences') }}">

<button type="button"
class="cancel-btn">

Cancel

</button>

</a>


</div>



</form>



</div>


</div>


{% endblock %}