{% extends "base.html" %}


{% block content %}

<!-- ================= MAIN ================= -->


<div class="main">


<div class="edit-container">


<h1>
Edit Institution
</h1>



<form method="POST">



<label>
Institution Name
</label>


<input
type="text"
value="{{ institution.name }}"
readonly>



<label>
Institution Type
</label>


<input 
    type="text" 
    name="institution_type"
    value="{{ institution.institution_type }}"
>



<label>
Location
</label>


<input 
    type="text" 
    name="location"
    value="{{ institution.location }}"
>





<label>
Website
</label>


<input
type="text"
name="website"
value="{{ institution.website }}">





<label>
Phone
</label>


<input
type="text"
name="phone"
value="{{ institution.phone }}">





<button type="submit" class="update-btn">
    Update Institution
</button>



</form>



</div>


</div>


{% endblock %}