{% extends "base.html" %}


{% block content %}
<!-- MAIN -->

<div class="main" id="main">



<div class="top-section">


<h1>
My Conference History
</h1>


</div>






<table>


<thead>


<tr>


<th>
ID
</th>


<th>
Conference Name
</th>

<th>
Registration Date
</th>

<th>
Participation Type
</th>


<th>
Presentation Title
</th>


<th>
Presentation Mode
</th>


<th>
Status
</th>


</tr>


</thead>





<tbody>



{% if registrations %}



{% for registration in registrations %}



<tr>


<td>
{{ loop.index }}
</td>



<td>
{{ registration.conference_title }}
</td>

<td>
{{ registration.registration_date }}
</td>

<td>
{{ registration.participation_type }}
</td>




<td>

{% if registration.presentation_title %}

{{ registration.presentation_title }}

{% else %}

-

{% endif %}


</td>





<td>

{% if registration.presentation_mode %}

{{ registration.presentation_mode }}

{% else %}

-

{% endif %}


</td>





<td>
{{ registration.status }}
</td>



</tr>




{% endfor %}




{% else %}



<tr>

<td colspan="6" class="empty">

No Conference History Found

</td>

</tr>



{% endif %}




</tbody>



</table>




</div>
{% endblock %}