{% extends "base.html" %}
{% block extra_css %}

<link rel="stylesheet"
href="{{ url_for('static', filename='css/profile.css') }}">

{% endblock %}

{% block content %}
<!-- ================= MAIN ================= -->

<div class="main" id="main">

<div class="profile-container">

<h2>
{% if session["role"] == "institution_admin" and institution %}
My Profile
{% elif session["role"] == "researcher" %}
My Profile
{% else %}
Complete Your Profile
{% endif %}
</h2>

{% if session["role"] == "researcher" %}

<form method="POST" action="{{ url_for('researcher_profile') }}">

{% elif session["role"] == "institution_admin" %}

<form method="POST" action="{{ url_for('institution_profile') }}">

{% endif %}

{% if session["role"] == "researcher" %}

<label>
Institution
</label>

<input
type="text"
name="institution"
placeholder="Enter Institution"
required>


<label>
Department
</label>

<input
type="text"
name="department"
placeholder="Enter Department"
required>


<label>
Designation
</label>

<input
type="text"
name="designation"
placeholder="Enter Designation"
required>


<label>
Research Interests
</label>

<input
type="text"
name="research_interests"
placeholder="Enter Research Interests">


<label>
Skills
</label>

<input
type="text"
name="skills"
placeholder="Enter Skills">


<label>
Phone
</label>

<input
type="text"
name="phone"
placeholder="Enter Phone Number">


{% elif session["role"] == "institution_admin" %}

<label>
Admin Name
</label>

<input
type="text"
value="{{ session['full_name'] }}"
readonly>

<label>
Email
</label>

<input
type="text"
value="{{ session['email'] }}"
readonly>

<label>
Institution Name
</label>

<input
type="text"
value="{{ institution.name if institution else '' }}"
readonly>


<label>
Institution Type
</label>

<input
type="text"
name="institution_type"
value="{{ institution.institution_type if institution else '' }}">


<label>
Website
</label>

<input
type="url"
name="website"
value="{{ institution.website if institution else '' }}">


<label>
Address
</label>

<input
type="text"
name="location"
value="{{ institution.location if institution else '' }}"
required>


<label>
Phone
</label>

<input
type="text"
name="phone"
value="{{ institution.phone if institution else '' }}">

{% elif session["role"] == "reviewer" %}

<label>
Organization
</label>

<input
type="text"
name="organization"
placeholder="Enter Organization">


<label>
Designation
</label>

<input
type="text"
name="designation"
placeholder="Enter Designation">


<label>
Research Area
</label>

<input
type="text"
name="research_area"
placeholder="Enter Research Area">


<label>
Phone
</label>

<input
type="text"
name="phone"
placeholder="Enter Phone Number">

{% endif %}


<button type="submit">

{% if session["role"] == "institution_admin" and institution %}
Update Profile
{% elif session["role"] == "researcher" %}
Update Profile
{% else %}
Save Profile
{% endif %}

</button>

</form>

</div>

</div>

{% endblock %}