<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register | Scientific Collaboration Network Analyzer</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>

<body>

<div class="auth-box">

    <h1>Scientific Collaboration Network Analyzer</h1>
    <p class="subtitle">Create Your Account</p>

    <form method="POST" autocomplete="off">

        <label for="full_name">Full Name</label>
        <input
            type="text"
            id="full_name"
            name="full_name"
            placeholder="Enter your full name"
            autocomplete="off"
            required
        >

        <label for="email">Email Address</label>
        <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email address"
            autocomplete="off"
            spellcheck="false"
            required
        >

<label for="password">Password</label>

<div class="password-box">

    <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter your password"
        minlength="6"
        autocomplete="new-password"
        required>

    <span
        class="material-symbols-outlined toggle-password"
        onclick="togglePassword('password', this)">
        visibility
    </span>

</div>

<label for="confirm_password">Confirm Password</label>

<div class="password-box">

    <input
        type="password"
        id="confirm_password"
        name="confirm_password"
        placeholder="Confirm your password"
        minlength="6"
        autocomplete="new-password"
        required>

    <span
        class="material-symbols-outlined toggle-password"
        onclick="togglePassword('confirm_password', this)">
        visibility
    </span>

</div>
<label for="role">Role</label>

<select
    id="role"
    name="role"
    onchange="toggleInstitutionField()"
    required>

    <option value="" selected disabled>Select Role</option>

    <option value="researcher">Researcher</option>

    <option value="institution_admin">Institution Admin</option>

    <option value="reviewer">Reviewer</option>

</select>

<div id="institutionField" style="display:none;">

    <label for="institution_name">
        Institution Name
    </label>

    <input
        type="text"
        id="institution_name"
        name="institution_name"
        placeholder="Enter Institution Name">

</div>
        <button type="submit">
            Create Account
        </button>

    </form>

    {% if error %}
        <div class="error">
            {{ error }}
        </div>
    {% endif %}

    <p class="bottom-text">
        Already have an account?
        <a href="{{ url_for('login') }}">
            Sign In
        </a>
    </p>

</div>
<script>

function togglePassword(id, icon){

    const field = document.getElementById(id);

    if(field.type === "password"){

        field.type = "text";
        icon.textContent = "visibility_off";

    }
    else{

        field.type = "password";
        icon.textContent = "visibility";

    }

}
function toggleInstitutionField(){

    const role = document.getElementById("role").value;

    const field = document.getElementById("institutionField");

    const input = document.getElementById("institution_name");

    if(role === "institution_admin"){

        field.style.display = "block";
        input.required = true;

    }
    else{

        field.style.display = "none";
        input.required = false;
        input.value = "";

    }

}

</script>

</body>

</html>